APP_NAME="Express Boilerplate" 
PORT=5500
NODE_ENV=development

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_DIALECT="mysql"

# JWT Access Token
JWT_SECRET=
JWT_EXPIRES_IN=15     # in MINUTES

# JWT Refresh Token
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=10080   # in MINUTES (7 days = 7*24*60 = 10080)